GM.MySQLType 	= "mysqloo"

GM.MySQLHost 	= "localhost"
GM.MySQLPort 	= 3306
GM.MySQLDB 		= "tekka"

GM.MySQLUser 	= "root"
GM.MySQLPass 	= ""

GM.MySQLAliases = {
	chars 			= "cc_chars",
	players 		= "cc_players",
	bans 			= "cc_bans",
	donations 		= "cc_donations",
	notes 			= "cc_notes",
	items 			= "cc_items",
	logs 			= "cc_logs",
	logcharacters 	= "cc_logs_characters",
	logitems 		= "cc_logs_items",
	logplayers 		= "cc_logs_players"
}